<VirtualHost *:80>
    DocumentRoot /var/www/html
    ServerName {{ inventory_hostname }}
    <Directory /var/www/html>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>