[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
# Использовать только указанный ключ
private_key_file = ~/.vagrant.d/insecure_private_key

[ssh_connection]
# Отключить контроль прав на ключ (для WSL)
scp_if_ssh = True